@model Weeklyapp.DataLayer.Entities.PrenotazioneEntity

@{
    ViewData["Title"] = "Crea Prenotazione";
}

<h2>Crea Prenotazione</h2>

<form asp-action="Create">
    <div class="form-group">
        <label for="CodiceFiscaleCliente">Codice Fiscale Cliente</label>
        <input type="text" id="CodiceFiscaleCliente" name="CodiceFiscaleCliente" class="form-control" />
    </div>
    <div class="form-group">
        <label for="NumeroCamera">Numero Camera</label>
        <input type="text" id="NumeroCamera" name="NumeroCamera" class="form-control" />
    </div>
    <div class="form-group">
        <label for="DataPrenotazione">Data Prenotazione</label>
        <input type="date" id="DataPrenotazione" name="DataPrenotazione" class="form-control" />
    </div>
    <div class="form-group">
        <label for="NumeroProgressivoAnno">Numero Progressivo Anno</label>
        <input type="text" id="NumeroProgressivoAnno" name="NumeroProgressivoAnno" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Anno">Anno</label>
        <input type="text" id="Anno" name="Anno" class="form-control" />
    </div>
    <div class="form-group">
        <label for="PeriodoDal">Periodo Dal</label>
        <input type="date" id="PeriodoDal" name="PeriodoDal" class="form-control" />
    </div>
    <div class="form-group">
        <label for="PeriodoAl">Periodo Al</label>
        <input type="date" id="PeriodoAl" name="PeriodoAl" class="form-control" />
    </div>
    <div class="form-group">
        <label for="CaparraConfirmatoria">Caparra Confirmatoria</label>
        <input type="text" id="CaparraConfirmatoria" name="CaparraConfirmatoria" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Tariffa">Tariffa</label>
        <input type="text" id="Tariffa" name="Tariffa" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Dettagli">Dettagli</label>
        <input type="text" id="Dettagli" name="Dettagli" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Crea" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>
