@{
    ViewData["Title"] = "Ricerca Prenotazioni";
}

<h2>Ricerca Prenotazioni</h2>

<form asp-action="SearchResults" method="post">
    <div class="form-group">
        <label for="codiceFiscale">Codice Fiscale Cliente</label>
        <input type="text" class="form-control" id="codiceFiscale" name="codiceFiscale" required />
    </div>
    <button type="submit" class="btn btn-primary">Cerca</button>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchPrenotazioni").click(function () {
            var codiceFiscale = $("#codiceFiscale").val();
            $.get("/api/PrenotazioniApi/ByCodiceFiscale/" + codiceFiscale, function (data) {
                var rows = "";
                $.each(data, function (index, prenotazione) {
                    rows += "<tr>" +
                        "<td>" + prenotazione.id + "</td>" +
                        "<td>" + prenotazione.codiceFiscaleCliente + "</td>" +
                        "<td>" + prenotazione.numeroCamera + "</td>" +
                        "<td>" + new Date(prenotazione.dataPrenotazione).toLocaleDateString() + "</td>" +
                        "<td>" + prenotazione.numeroProgressivoAnno + "</td>" +
                        "<td>" + prenotazione.anno + "</td>" +
                        "<td>" + new Date(prenotazione.periodoDal).toLocaleDateString() + "</td>" +
                        "<td>" + new Date(prenotazione.periodoAl).toLocaleDateString() + "</td>" +
                        "<td>" + prenotazione.caparraConfirmatoria + "</td>" +
                        "<td>" + prenotazione.tariffa + "</td>" +
                        "<td>" + prenotazione.dettagli + "</td>" +
                        "</tr>";
                });
                $("#prenotazioniTable tbody").html(rows);
            });
        });

        $.get("/api/PrenotazioniApi/TotalPensioneCompleta", function (data) {
            $("#totalPensioneCompleta").text(data);
        });
    });
</script>