@model Weeklyapp.DataLayer.Entities.ServizioAggiuntivoEntity

@{
    ViewData["Title"] = "Crea Servizio Aggiuntivo";
}

<h2>@ViewData["Title"]</h2>

<h4>Servizio Aggiuntivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IDPrenotazione" class="control-label">ID Prenotazione</label>
                <input asp-for="IDPrenotazione" class="form-control" />
                <span asp-validation-for="IDPrenotazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataServizio" class="control-label">Data Servizio</label>
                <input asp-for="DataServizio" class="form-control" />
                <span asp-validation-for="DataServizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label">Descrizione</label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantita" class="control-label">Quantità</label>
                <input asp-for="Quantita" class="form-control" />
                <span asp-validation-for="Quantita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezzo" class="control-label">Prezzo</label>
                <input asp-for="Prezzo" class="form-control" />
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crea" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
